#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}
.container {
  max-width: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 8px 8px;
  width: 340px;
  max-height: 600px;
  margin: 100px 0;
  padding: 20px;
  border: 0.8px solid;
  position: relative;
}

.image {
  border-radius: 10px;
}
.text {
  font-family: "Figtree", sans-serif;
  justify-content: left;
  margin-top: 20px;
}
.date {
  font-size: 14px;
}
.avatar {
  align-items: center;
  display: flex;
  gap: 10px;
}
.avatar-image {
  width: 30px;
  height: 30px;
}
.p1 {
  background-color: hsl(47, 88%, 63%);
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: bold;
  display: inline;
}
h2:hover{
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
h2 h4 {
  font-weight: 800;
}
h4 {
  font-size: 14px;
}